<%- include('partials/header') -%>
  <div>Logged In</div>
<div id="userActions">
  <form action="/entry/createEntry" method="POST">
    <input type="url" placeholder="Feed me some content" name="url">
    <%# <input type="text" placeholder="quote" name="quote"> %>
    <button type="submit"> Submit </button>
  </form>
  <label>Feed</label>
  <select placeholder="Select Your Feed" id="feedSelect">
    <%# <option value="" disabled selected>Select Your Feed</option> %>
    <option value="main" <%= entries.some(e => e.favorited === false) ? "selected" : "" %>>Main</option>
    <option value="favorites" <%= entries.every(e => e.favorited === true) ? "selected" : "" %>>Favorites</option>
    <% for(var i=0; i < userFeeds.length; i++) {%>
      <option value="<%= userFeeds[i]._id %>"><%= userFeeds[i].name %></option>
      <% } %>
  </select>
<button type="submit" id="createNewFeed">Create Feed</button>
<form action="/feed/createFeed" method="POST" >
<input type="text" placeholder="Enter your feed name" name="name" id="feedName">
<%# <input type="color" placeholder="Enter your feed name" name="feedColor"> %>
<button type="submit" id="submitNewFeed">Submit</button>
</form>
</div>

  <ul class="quotes">
    <h2>Hello</h2>
    <% for(var i=0; i < entries.length; i++) {%>
      <li class="quote">
        <span>
          <img src="<%= entries[i].favicon %>" alt="website icon" width="48" height="48" />
        </span>
        <span><a href="<%= entries[i].url %>">
          <%= entries[i].title -%>
          </a></span>
        <span>
        </span>
        <span>
          <%= entries[i].description -%>
        </span>
        <select id="entryFeedSelect">
          <option>Select Your Feed</option>
          <% for(var j=0; j < userFeeds.length; j++) {%>
            <option value="<%= userFeeds[j]._id %>"><%= userFeeds[j].name %></option>
            <% } %>
        </select>
        <span class="entryID" id="entryID">
          <%= entries[i]._id %>
        </span>
          <button class="btn btn-primary fa fa-star <%= entries[i].favorited ? 'fa-solid' : 'fa-regular' -%>" type="submit" data-id="<%= entries[i]._id -%>" data-favorited="<%= entries[i].favorited -%>"></button>
        <form action="/entry/deleteEntry/<%= entries[i]._id -%>?_method=DELETE" method="POST" class="col-3">
          <button class="btn btn-primary fa fa-trash" type="submit">Delete</button>
        </form>
      </li>
      <% } %>
  </ul>

  <%- include('partials/footer') -%>